[submodule "load-prepare"]
	path = load-prepare
	url = git@github.com:Hanschad/load-prepare.git
[submodule "test/iso20022"]
	path = test/iso20022
	url = git@github.com:yudaprama/iso20022.git
[submodule "test/go-iso20022-pain001"]
	path = test/go-iso20022-pain001
	url = git@github.com:72nd/go-iso20022-pain001.git
